<nav class="flex justify-between items-center dark:bg-black w-full h-24 border-b-1 border-amber-200">
    <div class="p-4   justify-center items-center  hidden 2xl:flex xl:flex lg:flex md:flex">
        <a href="/" class="flex items-center ">
            <img class="w-10 h-10 rounded-full bg-white mr-4" src="images/logo.png" alt="">
            <span class="dark:text-white text-2xl">Turpial Manager</span>
        </a>
    </div>
    <div class=" flex items-center gap-4">
        <h1 class="text-2xl sm:text-sm md:text-md lg:text-lg font-bold leading-tight tracking-tight text-gray-900  dark:text-white">Tablero de Tareas</h1>
    </div>
    <div class="p-4 ">
        <div class="flex items-center gap-4" >
            <button class="flex items-center px-4 py-2 bg-black text-white rounded hover:bg-white hover:text-black" (click)="logout()"> 
                <svg-icon  class="font-bold pr-2" src="icons/log-out-outline.svg" [svgStyle]="{ 'width.px':20 }"></svg-icon>
                cerrar sesion
            </button>
        </div>
        
    </div>

    
    
</nav>