<app-header-app (actionSession)="logout($event)"></app-header-app>
<section>
    <div class="flex justify-end p-5">
        <button class="mt-4 px-4 py-2 bg-amber-600 text-white rounded hover:bg-amber-700" (click)="viewModalTask(true)"> 
            Nueva Tarea
        </button>
    </div>
</section >

@if(tasks$ | async) {
    <section>
        <h1 class="p-4 text-2xl sm:text-sm md:text-md lg:text-lg font-bold leading-tight tracking-tight text-gray-900  dark:text-white">Tareas en progreso</h1>
        <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4"> 
            @for(task of tasks$ | async; track task.id) {
                @if(task.status == status.IN_PROGRESS){
                    <app-card-task [task]="task" (updateTask)="updateTask($event)" (deleteTask)="deleteTask($event)"    (sendInfoTaskUpdate)="sendInfoTaskUpdate($event)"></app-card-task>
                }

            }
        </div>
    </section>
    <section >
        <h1 class="p-4 text-2xl sm:text-sm md:text-md lg:text-lg font-bold leading-tight tracking-tight text-gray-900  dark:text-white">Tareas pendientes</h1>
        <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4">  
            @for(task of tasks$ | async; track task.id) {
                @if(task.status == status.TO_DO){
                    <app-card-task [task]="task" (updateTask)="updateTask($event)" (deleteTask)="deleteTask($event)" (sendInfoTaskUpdate)="sendInfoTaskUpdate($event)"></app-card-task>
                }
            }
        </div>
    </section>
    <section >
        <h1 class="p-4 text-2xl sm:text-sm md:text-md lg:text-lg font-bold leading-tight tracking-tight text-gray-900  dark:text-white">Tareas finalizadas</h1>
        <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4">
            @for(task of tasks$ | async; track task.id) {
                @if(task.status == status.DONE){
                    <app-card-task [task]="task" (deleteTask)="deleteTask($event)"></app-card-task>
                }
            }
        </div>
            
    </section>
}

@if(showFormTask){
    <app-form-task [task]="task" (closeModal)="viewModalTask($event)" (sendTask)="processTask($event)"></app-form-task>
}


